@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    background-color: hsl(216, 15%, 13%) ;
    font-family: system-ui;
    font-family: 'Inconsolata', monospace;
}

