@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --bg: hsl(216, 15%, 13%);
    --dark: #1D2127;
    --opink: #F999CB;
    --owhite: #FFFFFF;
    --dblue: #32384;
}

.light-mode {
    --bg: #becbdf;
    --dark: #FFFFFF;
    --owhite: #1D2127;
    --dblue: #32384;
    color: #fff;
}

html {
    background-color: theme('colors.bg');
    font-family: system-ui;
    font-family: 'Inconsolata', monospace;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: white;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}